.header-left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.header-links-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

li {
    list-style: none;
}